@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
body {
  font-family: "Rubik Distressed", cursive;
  background-color: #e69c52;
  background-image: linear-gradient(225deg, #f59332 60%, #4d76a0 100%);
}
